body {
    background: var(--bg_primary);
    overflow-x: hidden;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: rgba(255,255,255,0)!important;
}

.bg-light {
    background-color: var(--bg_secondary)!important;
}

#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -15rem; */
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.55rem 1.3rem;
    font-size: 24px;
    cursor: pointer;
    color: var(--menu_primary);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#sidebar-wrapper .sidebar-heading:hover{
    color: var(--menu_hover);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper .list-group {
  width: 80px;
  -webkit-transition: width .25s ease-out;
  -moz-transition: width .25s ease-out;
  -o-transition: width .25s ease-out;
  transition: width .25s ease-out;
}

.list-group-item {
    border: none;
    padding: 0.5rem 1.25rem;
}

.list-group-item i.mdi {
    font-size: 20px;
}

.sep {
    width: 70%;
    height:1px;
    border-bottom: 2px solid var(--border_primary);
    margin-left:15%;
    margin-bottom:10px;
}

.border-bottom {
    border-bottom: 2px solid var(--border_primary)!important;
}

.border-right {
    border-right: 2px solid var(--border_primary)!important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  /* margin-left: 0; */
  width: 82px;
  -webkit-transition: width .25s ease-out;
  -moz-transition: width .25s ease-out;
  -o-transition: width .25s ease-out;
  transition: width .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group .list-group-item {
    border-left:3px solid var(--bg_secondary);
}

#wrapper #sidebar-wrapper .list-group .list-group-item.active {
    border-left:3px solid var(--border_active);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group .list-group-item.active:focus,
#wrapper #sidebar-wrapper .list-group .list-group-item.active:hover {
    border-left:3px solid var(--border_active_hover);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group a.list-group-item,
#wrapper #sidebar-wrapper .list-group a.list-group-item:active{
    color: var(--menu_primary);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group a.list-group-item.active,
#wrapper #sidebar-wrapper .list-group a.list-group-item.active:active{
    color: var(--link_active);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group a.list-group-item.active:hover,
#wrapper #sidebar-wrapper .list-group a.list-group-item.active:focus{
    color: var(--link_active_hover);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group a.list-group-item:hover,
#wrapper #sidebar-wrapper .list-group a.list-group-item:focus{
    color: var(--menu_hover);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

#wrapper #sidebar-wrapper .list-group a.list-group-item span.menu-name {
    font-weight:600;
    /* display: inline-block; */
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper .list-group a.list-group-item span.menu-name {
    display: none;
    position: absolute;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}  

#sidebar-wrapper .list-group {
    width: 180px;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    transition: width .25s ease-out;
}

#sidebar-wrapper {
    margin-left: 0;
    width: 182px;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    transition: width .25s ease-out;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
