<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading" id="menu-toggle">
      <i class="mdi mdi-text"></i> <img src="assets/images/logo.png" class="logo" alt="ngx-football">
  </div>
  <div class="sep"></div>
  <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-view-dashboard"></i> <span class="menu-name">Home</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-youtube-tv"></i> <span class="menu-name">Watch</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-folder-star"></i> <span class="menu-name">Favorite</span></a>
      <div class="sep mt-3 mb-1"></div>
      <a href="#" class="list-group-item list-group-item-action bg-light active"><i class="mdi mdi-soccer"></i> <span class="menu-name">Football</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-badminton"></i> <span class="menu-name">Badminton</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-volleyball"></i> <span class="menu-name">Volleyball</span></a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="mdi mdi-gamepad-variant"></i> <span class="menu-name">Games</span></a>
      <div class="sep mt-3 mb-1"></div>
  </div>
</div>