<div class="row">
  <div class="col-md-6 order-lg-2">
    <!-- content at the middle -->
  </div>
  <div class="col-md-3 cont left-cont order-lg-1">
    <!-- content to the left -->
    <!-- start: live matches -->
    <div class="header">
      <h6>Live Matches</h6>
      <div class="right-links">
        <i class="mdi mdi-arrow-left"></i>
        <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
    <div class="live-matches">
      <div class="match ht">
        <img src="assets/images/clubs/england/Southampton FC.ico" alt="Southampton FC" title="Southampton FC">
        <span class="scores">1 : 3</span>
        <img src="assets/images/clubs/england/Liverpool FC.ico" alt="Liverpool FC" title="Liverpool FC">
        <div class="vs">vs</div>
      </div>
      <div class="match past-ht">
        <img src="assets/images/clubs/england/Chelsea FC.ico" alt="Chelsea FC" title="Chelsea FC">
        <span class="scores">2 : 0</span>
        <img src="assets/images/clubs/england/Norwich City.ico" alt="Norwich City" title="Norwich City">
        <div class="vs">vs</div>
      </div>
      <div class="more text-center"><i class="mdi mdi-dots-horizontal"></i></div>
    </div>
    <!-- end: live matches -->
    <!-- start: standings -->
    <div class="header">
        <h6>Standings</h6>
        <div class="right-links">
          <i class="mdi mdi-dots-horizontal"></i>
        </div>
      </div>
      <div class="standings">
        <div class="stitle">
          Premier League <i class="mdi mdi-chevron-down" title="Options"></i>
        </div>
        <div class="sheader">
          <div class="srow">
            <div class="sleft">Team</div>
            <div class="sright">
              <div class="scol">G</div><div class="scol">W</div><div class="scol">P</div>
            </div>
          </div>
        </div>
        <div class="steam">
          <div class="srow">
            <div class="sleft"><span class="text-grey">1.</span> <img src="assets/images/clubs/england/Liverpool FC.ico" alt="Liverpool FC" title="Liverpool FC"> Liverpool</div>
            <div class="sright text-grey">
              <div class="scol">20</div><div class="scol">8</div><div class="scol">24</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">2.</span> <img src="assets/images/clubs/england/Manchester City.ico" alt="Manchester City" title="Manchester City"> Manchester City</div>
            <div class="sright text-grey">
              <div class="scol">29</div><div class="scol">6</div><div class="scol">19</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">3.</span> <img src="assets/images/clubs/england/Leicester City.ico" alt="Leicester City" title="Leicester City"> Leicester City</div>
            <div class="sright text-grey">
              <div class="scol">16</div><div class="scol">5</div><div class="scol">17</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">4.</span> <img src="assets/images/clubs/england/Chelsea FC.ico" alt="Chelsea FC" title="Chelsea FC"> Chelsea</div>
            <div class="sright text-grey">
              <div class="scol">19</div><div class="scol">5</div><div class="scol">17</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">5.</span> <img src="assets/images/clubs/england/Arsenal FC.ico" alt="Arsenal FC" title="Arsenal FC"> Arsenal</div>
            <div class="sright text-grey">
              <div class="scol">11</div><div class="scol">4</div><div class="scol">15</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">6.</span> <img src="assets/images/clubs/england/Crystal Palace.ico" alt="Crystal Palace" title="Crystal Palace"> Crystal Palace</div>
            <div class="sright text-grey">
              <div class="scol">10</div><div class="scol">4</div><div class="scol">14</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">7.</span> <img src="assets/images/clubs/england/Manchester United.ico" alt="Manchester United" title="Manchester United"> Man. United</div>
            <div class="sright text-grey">
              <div class="scol">13</div><div class="scol">3</div><div class="scol">12</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">8.</span> <img src="assets/images/clubs/england/Everton FC.ico" alt="Everton FC" title="Everton FC"> Everton</div>
            <div class="sright text-grey">
              <div class="scol">11</div><div class="scol">3</div><div class="scol">10</div>
            </div>
          </div>
          <div class="srow">
            <div class="sleft"><span class="text-grey">9.</span> <img src="assets/images/clubs/england/Norwich City.ico" alt="Norwich City" title="Norwich City"> Norwich City</div>
            <div class="sright text-grey">
              <div class="scol">9</div><div class="scol">4</div><div class="scol">8</div>
            </div>
          </div>
        </div>
        <div class="more text-center"><i class="mdi mdi-dots-horizontal"></i></div>
      </div>
      <!-- end: standings -->
  </div>
  <div class="col-md-3 cont right-cont order-lg-3">
    <!-- content to the right -->
    <!-- start: team line-ups -->
    <div class="header">
      <h6>Team Line-Ups</h6>
      <div class="right-links">
        <i class="mdi mdi-dots-horizontal"></i>
      </div>
    </div>

    <!-- end: team line-ups -->
    <!-- start: last games -->
    <div class="header">
      <h6>Last Games</h6>
      <div class="right-links">
        <i class="mdi mdi-dots-horizontal"></i>
      </div>
    </div>

    <!-- end: last games -->
  </div>
</div>